body{
	background-image: url("314821.webp");
	background-repeat: no-repeat; 
	background-size: cover;
}

p{
	color:white;
	font-size: 30px;
}

h1{
	color: white;
	font-size: 50px;
}

h2{
	color:white;
	font-size: 200px;
}

h3{
	color:white;
	font-size: 200px;
}